{% extends 'pages/shablon.html' %}
{% load static %}
{% block title %}Kategoriya: {{ newss.mavzu }} {% endblock %}
{% block content %}
    <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="font-weight-600 mb-4">
                        <a href="{{ newss.category.get_absolute_url }}" class="text-blue mb-0 font-weight-600">{{ newss.category }}</a>
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-8">
                        <h2 class="font-weight-600 mb-2">
                          {{ newss.mavzu }}
                        </h2>
                        <p class="fs-13 text-muted mb-0">
                          <span class="mr-2">Photo </span>{{newss.vaqt|date:"Y-m-d H:i:s"}}
                        </p>
                          <div class="rotate-img">

                              <div class="media">
                                {% if newss.rasm %}
                                  <img src="{{newss.rasm.url}}" alt="banner" class="img-fluid mt-4 mb-4" />
                                {% else %}
                                  <img
                                    src="{% static 'assets/images/politics/Politics_2.jpg' %}"
                                    alt="banner"
                                    class="img-fluid mt-4 mb-4"
                                  />
                                {% endif %}

                              </div>
                          </div>

                        <div class="col-sm-12 grid-margin">
                                {% autoescape off %}
                                  <p class="fs-15">
                                    {{ newss.tekst }}
                                  </p>
                                {% endautoescape %}
                                <hr>
                                <hr>
                                {% if user.is_staff %}
                                  <a href="{% url 'tozalash' newss.id %}" class="btn btn-danger">o'chirib tashlash</a><br>
                                  <a href="{% url 'almashtirish' newss.id %}" class="btn btn-warning"> o'zgartirish </a><br>
                                {% endif %}
                                <hr>
                                <hr>
                                <div class="d-lg-flex">
                            <span class="fs-16 font-weight-600 mr-2 mb-1"
                              >Aloqador Mavzular</span
                            >


                                {% for tag in newss.tag.all %}
                                   <a href="{% url 'tag' tag.slug %}" >
                                       <span class="badge badge-outline-dark mr-2 mb-1"
                                        >{{tag.nomi}}</span>
                                   </a>


                                {% endfor %}


                          </div>
                        </div>

                        <div class="col-sm-12 grid-margin">

                                {% block post_detail %}
                                {% include 'pages/post_detail.html' %}
                                {% endblock post_detail %}

                        </div>


                    </div>
                    <div class="col-lg-4">
                          <h2 class="mb-4 text-primary font-weight-600">
                            So'nggi Yangiliklar
                          </h2>
                          {% for latest in latest_news %}
                            <div class="row">
                            <div class="col-sm-12">
                              <div class="border-bottom pb-4 pt-4">
                                <div class="row">
                                  <div class="col-sm-8">
                                    {% autoescape off %}
                                    <h5 class="font-weight-600 mb-1">
                                        {{latest.tekst|truncatewords:10}}
                                    </h5>
                                    {% endautoescape %}
                                    <p class="fs-13 text-muted mb-0">
                                      <span class="mr-2">Photo </span>{{latest.vaqt}}
                                    </p>
                                  </div>
                                  <div class="col-sm-4">
                                    <div class="rotate-img">
                                      <img
                                        src={{latest.rasm.url}}
                                        alt="banner"
                                        class="img-fluid"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}

                          <div class="trending">
                            <h2 class="mb-4 text-primary font-weight-600">
                              Trending
                            </h2>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_10.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_11.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_12.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
{% endblock %}
