{% extends 'pages/shablon.html' %}
{% load static %}
{% block title %}Yangiliklar: {{category.nomi}}{% endblock %}
{% block content %}
  <div class="container">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                {% if news %}
                  {% for turi in news %}
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <h1 class="font-weight-600 mb-4">
                          {{ turi.category }}
                        </h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-sm-4 grid-margin">
                            <div class="rotate-img">

                                <div class="media">
                                  {% if turi.rasm %}
                                    <img src="{{turi.rasm.url}}" alt="banner" class="img-fluid" />
                                  {% else %}
                                    <img
                                      src="{% static 'assets/images/politics/Politics_2.jpg' %}"
                                      alt="banner"
                                      class="img-fluid"
                                    />
                                  {% endif %}
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-8 grid-margin">
                            <h2 class="font-weight-600 mb-2">
                              {{ turi.mavzu }}
                            </h2>
                            <p class="fs-13 text-muted mb-0">
                              <span class="mr-2">Qo'yilgan Vaqti </span>{{turi.vaqt|date:"Y-m-d H:i:s"}}
                            </p>
                            <p class="fs-15">
                              {{ turi.tekst }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>

                    <button name="button" type="submit" onclick="location.href='{{ turi.get_absolute_url }}' "> Batafsilroq.. </button>
                  {% endfor %}

                  <nav aria-label="...">
                      <ul class="pagination">
                          {% if page_obj.number != 1 %}
                          <li class="page-item "><a class="page-link" href="?page=1">1 &laquo; </a>birinchisi</li>
                          {% endif %}

                          {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>avvalgisi</li>
                          {% endif %}

                          <li class="page-item active">
                          <a class="page-link" href="#">{{ page_obj.number }}
                              <span class="sr-only">(current)</span></a>{{ page_obj.paginator.num_pages }} betning {{ page_obj.number }}chisi
                          </li>

                          {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>keyingisi</li>
                          {% endif %}

                          {% if page_obj.number != page_obj.paginator.num_pages %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>oxirgisi</li>
                          {% endif %}
                      </ul>
                  </nav>

                {% else %}
                <h1> bu kategoriyaga tegishli yangiliklar mavjud emas !</h1>
                {% endif %}
              </div>
            </div>
          </div>

{% endblock %}

