{% extends 'pages/shablon.html' %}
{% load static %}
{% block title %}Yangiliklar: {{news.category.nomi}} {% endblock %}
{% block content %}

   <div class="content-wrapper">
              <div class="container">
                <div class="col-sm-12">
                  <div class="card" data-aos="fade-up">
                    <div class="card-body">
                      <div class="row">

                        {% if news %}
                        <div class="col-lg-8">
                          {% for item in news %}
                          <div>
                            <h1 class="font-weight-600 mb-1">
                              {{ item.mavzu }}
                            </h1>
                            <p class="fs-13 text-muted mb-0">
                              <span class="mr-2">Photo </span>{{item.vaqt|date:"Y-m-d H:i:s"}}
                            </p>
                            <div class="rotate-img">
                                  {% if item.rasm %}
                                    <img src="{{item.rasm.url}}" alt="banner" class="img-fluid" />
                                  {% else %}
                                    <img
                                      src="{% static 'assets/images/politics/Politics_3.jpg' %}"
                                      alt="banner"
                                      class="img-fluid mt-4 mb-4"
                                    />
                                  {% endif %}
                            </div>

                            {% autoescape off %}
                            <p class="mb-4 fs-15">
                                {{ item.tekst|truncatewords:25}}
                            </p>
                            {% endautoescape %}
                            <button type="submit" onclick="location.href='{{ item.get_absolute_url }}' "> Batafsilroq >>> </button>
                          </div>
                          {% endfor %}
                        </div>

                        <div class="col-lg-4">
                          <h2 class="mb-4 text-primary font-weight-600">
                            So'nggi Yangiliklar
                          </h2>
                          {% for latest in latest_news %}
                            <div class="row">
                                <div class="col-sm-12">
                                  <div class="border-bottom pb-4 pt-4">
                                    <div class="row">
                                      <div class="col-sm-8">
                                        {% autoescape off %}
                                        <h5 class="font-weight-600 mb-1">
                                            {{latest.tekst|truncatewords:10}}
                                        </h5>
                                        {% endautoescape %}
                                        <p class="fs-13 text-muted mb-0">
                                          <span class="mr-2">Photo </span>{{latest.vaqt}}
                                        </p>
                                      </div>
                                      <div class="col-sm-4">
                                        <div class="rotate-img">
                                          <img
                                            src={{latest.rasm.url}}
                                            alt="banner"
                                            class="img-fluid"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          {% endfor %}

                          <div class="trending">
                            <h2 class="mb-4 text-primary font-weight-600">
                              Trending
                            </h2>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_10.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_11.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                            <div class="mb-4">
                              <div class="rotate-img">
                                <img
                                  src="{% static 'assets/images/inner/inner_12.jpg' %}"
                                  alt="banner"
                                  class="img-fluid"
                                />
                              </div>
                              <h3 class="mt-3 font-weight-600">
                                Virus Kills Member Of Advising Iran’s Supreme
                              </h3>
                              <p class="fs-13 text-muted mb-0">
                                <span class="mr-2">Photo </span>10 Minutes ago
                              </p>
                            </div>
                          </div>
                        </div>

                        <nav aria-label="...">
                      <ul class="pagination">
                          {% if page_obj.number != 1 %}
                          <li class="page-item "><a class="page-link" href="?page=1">1 &laquo; </a>boshi</li>
                          {% endif %}

                          {% if page_obj.has_previous and page_obj.previous_page_number != 1 %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>avvalgisi</li>
                          {% endif %}

                          <li class="page-item active">
                          <a class="text-white page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                              <span class="sr-only">(current)</span></a>{{ page_obj.paginator.num_pages }} betning {{ page_obj.number }}chisi
                          </li>

                          {% if page_obj.has_next and page_obj.next_page_number != page_obj.paginator.num_pages %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>keyingisi</li>
                          {% endif %}

                          {% if page_obj.number != page_obj.paginator.num_pages %}
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>oxiri</li>
                          {% endif %}
                      </ul>
                  </nav>

                       {% else %}
                          <h1>  bu  kategoriyada  yangiliklar  mavjud  emas  !</h1>
                       {% endif %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}

